<div class="dialog">
  <div class="header">Добавление слова</div>
  <mat-dialog-content class="content" [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Введите слово</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex flex-column gap-24 actions">
    <button class="w-100" mat-flat-button color="primary" (click)="handleOk()">
      Сохранить
    </button>
    <button class="cancel-button w-100" mat-flat-button (click)="handleCancel()">
      Отменить
    </button>
  </mat-dialog-actions>
</div>
