<div class="select-container" [formGroup]="formGroup">
    <h1>Регистрация</h1>
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login" type="text" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>
    <button matButton (click)="register()" [disabled]="!formGroup.valid">Войти</button>
    <span>
      Есть аккаунт?
      <span class="pointer underline" [routerLink]="['/sign-in']">Авторизируйтесь</span>
    </span>
  </div>
  